## Pandas

Importing

In [7]:
import pandas as pd

In [ ]:
csv_path = 'file.csv'
df = pd.read_csv(csv_path)

In [ ]:
df.head() # to examine the first five rows of a data frame

Ã‰ possivel converter um dictionary para um DataFrame, com as chaves sendo as colunas, e uma lista de valores as linhas.

### Creating DataFrames from Dictionaries

In [6]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

#### Column Selection

In [8]:
print(df['Name'])  # Access the 'Name' column

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

#### Accessing Rows

In [10]:
print(df.iloc[2])   # Access the third row by position

Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object

In [11]:
print(df.loc[1])    # Access the second row by label

Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object

#### Slicing

In [12]:
print(df[['Name', 'Age']])  # Select specific columns

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28

In [13]:
print(df[1:3])             # Select specific rows

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

#### Finding Unique Elements

In [15]:
unique_dates = df['Age'].unique()
unique_dates

array([25, 30, 35, 28], dtype=int64)

#### Conditional Filtering

In [17]:
high_above_102 = df[df['Age'] > 25]
high_above_102

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

#### Saving DataFrames

In [ ]:
df.to_csv('trading_data.csv', index=False)

### What is a Series?

A Series is a one-dimensional labeled array in Pandas. It can be thought of as a single column of data with labels or indices for each element. You can create a Series from various data sources, such as lists, NumPy arrays, or dictionaries.
Here's a basic example of creating a Series in Pandas:

In [2]:
# Create a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Accessing Elements in a Series

#### Acessing by label

In [3]:
print(s[2])     # Access the element with label 2 (value 30)

30

#### Accessing by position

In [4]:
print(s.iloc[3]) # Access the element at position 3 (value 40)

40

#### Accessing multiple elements

In [5]:
print(s[1:4])   # Access a range of elements by label

1    20
2    30
3    40
dtype: int64

#### DataFrame Attributes and Methods

```md
DataFrame Attributes and Methods
DataFrames provide numerous attributes and methods for data manipulation and analysis, including:

shape: Returns the dimensions (number of rows and columns) of the DataFrame.
info(): Provides a summary of the DataFrame, including data types and non-null counts.
describe(): Generates summary statistics for numerical columns.
head(), tail(): Displays the first or last n rows of the DataFrame.
mean(), sum(), min(), max(): Calculate summary statistics for columns.
sort_values(): Sort the DataFrame by one or more columns.
groupby(): Group data based on specific columns for aggregation.
fillna(), drop(), rename(): Handle missing values, drop columns, or rename columns.
apply(): Apply a function to each element, row, or column of the DataFrame
```