# Conjuntos (sets)

In [27]:
machine_learning_users = {15, 23, 43, 56}
data_science_users = {13, 23, 25, 43}

In [18]:
type(machine_learning_users)

set

In [8]:
machine_learning_users[3] # not indexable

TypeError: ignored

In [19]:
for user in machine_learning_users:
    print(user)

56
43
23
15

In [28]:
machine_learning_users | data_science_users # Union

{13, 15, 23, 25, 43, 56}

In [32]:
machine_learning_users & data_science_users # Intersection

{23, 43}

In [33]:
machine_learning_users - data_science_users

{15, 56}

In [34]:
15 in machine_learning_users

True

In [35]:
machine_learning_users ^ data_science_users

{13, 15, 25, 56}

# Operações

In [37]:
users = {1, 5, 76, 34, 52, 13, 17} # Conjuntos são mutáveis

In [38]:
len(users)

7

In [39]:
users.append(13) # Nao existe posicao para inserir um item no final do conjunto dessa forma usamos add.

AttributeError: ignored

In [43]:
users.add(765) # Não e possível inserir números repetidos
len(users)

8

In [44]:
users

{1, 5, 13, 17, 34, 52, 76, 765}

In [45]:
users_02 = frozenset(users) # frozenset transforma o conjunto em um objetio imutável.
users_02

frozenset({1, 5, 13, 17, 34, 52, 76, 765})

In [46]:
type(users_02)

frozenset

In [47]:
users_02.add(125)

AttributeError: ignored

In [48]:
my_text = "Welcome, my name is Igor i very like names and i have the my dog and very like dogs"
my_text.split()

['Welcome,',
 'my',
 'name',
 'is',
 'Igor',
 'i',
 'very',
 'like',
 'names',
 'and',
 'i',
 'have',
 'the',
 'my',
 'dog',
 'and',
 'very',
 'like',
 'dogs']

In [49]:
set(my_text.split()) # Conjunto de string

{'Igor',
 'Welcome,',
 'and',
 'dog',
 'dogs',
 'have',
 'i',
 'is',
 'like',
 'my',
 'name',
 'names',
 'the',
 'very'}

# Dicionários

In [50]:
# Map

In [66]:
marvel_characters = {
  "Iron Man" : 1,
  "Spider Man" : 3,
  "Thor" : 1,
  "Thanos": 2,
  "Kang" : 15
}

In [52]:
type(marvel_characters)

dict

In [54]:
marvel_characters["Iron Man"]

1

In [56]:
marvel_characters["Spider Man"]

3

In [60]:
marvel_characters["Nick Fury"]

KeyError: ignored

In [64]:
marvel_characters_02 = dict(IronMan = 1, SpiderMan = 3, Thor = 1) # Forma alternativa de criar dicionários, pouco ultilizada

In [67]:
marvel_characters = {
  "Iron Man" : 1,
  "Spider Man" : 3,
  "Thor" : 1,
  "Thanos": 2,
  "Kang" : 15
}

In [68]:
marvel_characters["Black Widow"] = 55

In [69]:
marvel_characters

{'Black Widow': 55,
 'Iron Man': 1,
 'Kang': 15,
 'Spider Man': 3,
 'Thanos': 2,
 'Thor': 1}

In [70]:
marvel_characters["Black Widow"] = 20

In [71]:
marvel_characters

{'Black Widow': 20,
 'Iron Man': 1,
 'Kang': 15,
 'Spider Man': 3,
 'Thanos': 2,
 'Thor': 1}

In [72]:
del marvel_characters["Thor"]

In [73]:
marvel_characters

{'Black Widow': 20, 'Iron Man': 1, 'Kang': 15, 'Spider Man': 3, 'Thanos': 2}

In [75]:
"Kang" in marvel_characters

True

In [77]:
for character in marvel_characters:
    print(character)

Iron Man
Spider Man
Thanos
Kang
Black Widow

In [79]:
for character in marvel_characters.keys():
    print(character)

Iron Man
Spider Man
Thanos
Kang
Black Widow

In [82]:
for character in marvel_characters.values():
    print(character)

1
3
2
15
20

In [83]:
for character in marvel_characters:
    value = marvel_characters[character]
    print(character, value)

Iron Man 1
Spider Man 3
Thanos 2
Kang 15
Black Widow 20

In [84]:
for character in marvel_characters.items():
    print(character)

('Iron Man', 1)
('Spider Man', 3)
('Thanos', 2)
('Kang', 15)
('Black Widow', 20)

In [88]:
for key, value in marvel_characters.items():
    print(key, "=" , value)

Iron Man = 1
Spider Man = 3
Thanos = 2
Kang = 15
Black Widow = 20

# Variações de dicionários

In [97]:
int()

0

In [99]:
from collections import defaultdict

my_text = "Welcome, my name is Igor i very like names and i have the my dog and very like dogs"
my_text = my_text.lower()

apparitions = defaultdict(int) # Inicializando dicionario com 0

for word in my_text.split():
    apparitions[word] += 1

apparitions

defaultdict(int,
            {'and': 2,
             'dog': 1,
             'dogs': 1,
             'have': 1,
             'i': 2,
             'igor': 1,
             'is': 1,
             'like': 2,
             'my': 2,
             'name': 1,
             'names': 1,
             'the': 1,
             'very': 2,
             'welcome,': 1})

In [100]:
from collections import Counter # Contador de valores

my_text = "Welcome, my name is Igor i very like names and i have the my dog and very like dogs"
my_text = my_text.lower()

apparitions = Counter(my_text.split())
apparitions

Counter({'and': 2,
         'dog': 1,
         'dogs': 1,
         'have': 1,
         'i': 2,
         'igor': 1,
         'is': 1,
         'like': 2,
         'my': 2,
         'name': 1,
         'names': 1,
         'the': 1,
         'very': 2,
         'welcome,': 1})

# Praticando

In [142]:
text_01 = """ A trama de Vingadores: Ultimato se passa poucos dias depois do fim de Guerra Infinita: Thanos conseguiu o que queria, matou metade da população do universo e boa parte dos heróis que tentou impedi-lo, em vão. 
No entanto, surge uma possibilidade de reverter o que aconteceu, graças a dois fatores ausentes no conflito anterior: a Capitã Marvel (Brie Larson) e o Homem-Formiga (Paul Rudd).

Discutir muito mais coisas além disso significaria entregar elementos do enredo importantíssimos, e acredito que a surpresa ao chegar na sala de cinema faz parte da experiência. 
O que pode ser dito é: TODAS as teorias ventiladas na internet estão erradas. Todas, sem exceção.+

O que dá para discutir, e isso já foi mostrado nos trailers, é o sentimento de derrota que abateu não só os Vingadores, mas todo o mundo: as pessoas desistiram de tudo ao perderem seus entes queridos, 
e não conseguem seguir em frente. A humanidade... estagnou.

Mas como este é um filme de ação, baseado em heróis de quadrinhos, espere por muitas reviravoltas, piadinhas, um pouco de drama e batalhas épicas, que colocam as de Guerra Infinita no chinelo, 
e ficam no mesmo nível de grandiosidade do confronto final de Aquaman, curiosamente, o filme mais "ao estilo Marvel" que a DC já lançou.
"""

In [102]:
text_02 = """
Olá pessoal! Nesse post, vamos entender o funcionamento do incrível virtualenv, uma ferramenta simples e poderosa que permite criar ambientes isolados de desenvolvimento Python
Dessa forma é possível a utilização de diversas bibliotecas em um mesmo ambiente sem que haja conflitos entre elas.
O uso do virtualenv traz muitas vantagens e facilidades quando desenvolvemos em Python, principalmente na separação de ambientes de desenvolvimento.

Também nos ajuda muito na solução de conflitos entre versões de uma biblioteca e é essencial para o desenvolvimento de aplicações utilizando diferentes versões do Python em uma mesma máquina 
(sem ter que recorrer à máquinas virtuais, por exemplo) Caso você ainda não o utilize, eu aconselho a baixar o mais rápido possível e aproveitar ao máximo essa ferramenta poderosa e extremamente 
simples que eu acabei de apresentar a vocês.

Bom… Espero que tenham gostado! E se você achou interessante este post, e acha que ele facilitou a sua vida organizando seu ambiente Python, não se esqueça de deixar aqui seu comentário ou sugestão!
"""

In [151]:
def analyze_letters_frequency(text):
  apparitions_01 = Counter(text.lower())
  total_characters = sum(apparitions_01.values())

  proportions = [(letter, frequency / total_characters) for letter, frequency in apparitions_01.items()]
  proportions = Counter(dict(proportions))
  common = proportions.most_common(10)

  for character, proportion in common:
      print(f'{character} => {proportion * 100:.2f}%')

In [153]:
analyze_letters_frequency(text_01)

  => 16.46%
e => 9.89%
a => 8.94%
o => 7.91%
s => 6.72%
i => 5.93%
r => 5.14%
d => 4.75%
t => 4.43%
n => 4.35%

In [154]:
analyze_letters_frequency(text_02)

  => 15.04%
e => 12.26%
a => 8.17%
o => 7.34%
s => 6.96%
i => 5.29%
n => 5.11%
t => 4.64%
m => 4.18%
r => 3.99%